{% comment %}

  -----------------------------------------------------------------------------
  Background Color Psuedo Element
  -----------------------------------------------------------------------------

  Makes it so we can overlay a transparent color background over a background
  image.

  Usage:

  {% render 'bg-color-element'
    bg_color_computed: { string } - required - expects hex code %}

{% endcomment %}

{% assign psuedo_style_tag = 'style="' %}
{% assign psuedo_style_tag = psuedo_style_tag | append: 'background-color: ' %}
{% assign psuedo_style_tag = psuedo_style_tag | append: bg_color_computed %}
{% assign psuedo_style_tag = psuedo_style_tag
  | append: ';"' %}

{% assign psuedo_el_classes =  settings.ec_prefix
  | append: 'position-absolute'
  | append: ' '
  | append: settings.ec_prefix
  | append: 'h-100'
  | append: ' '
  | append: settings.ec_prefix
  | append: 'w-100' %}

<div class="{{ psuedo_el_classes }}" {{ psuedo_style_tag }}></div>