
{% comment %}

  -----------------------------------------------------------------------------
  Content Object
  -----------------------------------------------------------------------------

  Dependencies:

  Liquid:

  Elements:
  - Eyebrow Element - `snippets/eyebrow-element.liquid`
  - Heading Element - `snippets/heading-element`
  - Paragraph Element - `snippets/paragraph-element`
  - Link Element - `snippets/link-element`

  Styling:

  - Bootstrap

  JavaScript:

  - None

  Usage:

  {% render 'content-object',
    content: { string } - required
    content_align: { string } - optional
    content_align_lg: { string } - optional
    link_style: { string } - optional
    link_url: { string } - optional
    link_text: { string } - optional %}

{% endcomment %}

{% if content_align != blank %}
  {% assign content_align = content_align %}
{% else %}
  {% assign content_align = 'text-center' %}
{% endif %}

{% if content_align_lg != blank %}
  {% assign content_align_lg = content_align_lg %}
{% else %}
  {% assign content_align_lg = 'text-md-center' %}
{% endif %}

{% assign content_align_classes = content_align
  | append: ' '
  | append: content_align_lg %}

{% comment %} Render {% endcomment %}
{% if link_text != blank %}
  {% assign render_content = true %}
{% elsif eyebrow_text != blank %}
  {% assign render_content = true %}
{% elsif heading_text != blank %}
  {% assign render_content = true %}
{% elsif paragraph_text != blank %}
  {% assign render_content = true %}
{% else %}
  {% assign render_content = false %}
{% endif %}

{% if render_content == true %}
  <div class="w-100">
    {% render 'eyebrow-element',
      text: eyebrow_text,
      text_align: content_align_classes,
      eyebrow_style: eyebrow_style %}

    {% render 'heading-element',
      text: heading_text,
      text_color: content_color,
      text_align: content_align_classes,
      heading_style: heading_style %}

    {% render 'paragraph-element',
      text: paragraph_text,
      text_color: content_color,
      text_align: content_align_classes %}

    {% render 'link-element',
      text_align: content_align_classes,
      link_text: link_text,
      link_url: link_url,
      link_style: link_style,
      link_size: link_size,
      link_block: link_block %}
  </div>
{% endif %}

