{% comment %} 

  -----------------------------------------------------------------------------
  Eyebrow Text
  -----------------------------------------------------------------------------

  Usage:

  {% render 'eyebrow-text',
              text: { string }
              badge_style: { string } expects bootstrap badge class 
              (i.e. badge-secondary)
  %}

{% endcomment %}

{% comment %} Class defaults {% endcomment %}
{% assign classes = 'badge'%}

{% if badge_style != blank %}
  {% assign classes = classes | append: ' ' | append: badge_style %}
{% else %}
  {% assign classes = classes | append: ' ' | append: 'badge-secondary' %}
{% endif %}

{% comment %} HTML content {% endcomment %}
{% capture 'html_content' %}
  {% if text != blank %}
    <span class="{{ classes }}">{{ text }}</span>
  {% endif %}
{% endcapture %}

{% comment %} Render {% endcomment %}
{% if html_content != blank %}
  {{ html_content }}
{% endif %}
