{% comment %} 

  -----------------------------------------------------------------------------
  Grid Item
  -----------------------------------------------------------------------------

  Usage:

  {% render 'grid-item',
              col: { string} - 
              col_offset: { string} - 
              col_lg: { string} - 
              col_lg_offset: { string} - 
              gutters: { string} - 
              content: { string} - 
  %}

{% endcomment %}

{% comment %} Defaults {% endcomment %}
{% if gutters == 'no-gutters' %}
  {% assign gutters = false %}
{% else %}
  {% assign gutters = true %}
{% endif %}

{% if content != blank %}
  {% assign content = content %}
{% else %}
  {% assign content = false %}
{% endif %}

{% if col != blank %}
  {% assign col = col %}
{% else%}
  {% assign col = 12 %}
{% endif %}

{% if col_lg != blank %}
  {% assign col_lg = col_lg %}
{% else %}
  {% assign col_lg = 4 %}
{% endif %}

{% comment %} Block Layout Classes {% endcomment %}
{% assign grid_item_classes =  'col-' | append: col %}
{% assign grid_item_classes =  grid_item_classes | append: ' offset-' | append: col_offset %}
{% assign grid_item_classes =  grid_item_classes | append: ' col-md-' | append: col_lg %}
{% assign grid_item_classes =  grid_item_classes | append: ' offset-md-' | append: col_lg_offset %}

{% comment %} Add margin bottom for gutter-enabled grids {% endcomment %}
{% if gutters %}
  {% assign grid_item_classes =  grid_item_classes | append: ' mb-4' %}
{% endif %}

{% if content %}
  <div class="{{  grid_item_classes }}">
    {{ content }}
  </div>
{% endif %}

