{% comment %}

  -----------------------------------------------------------------------------
  Grid Item
  -----------------------------------------------------------------------------

  Usage:

  {% render 'grid-item',
    col: { string} -
    col_offset: { string} -
    col_md_up: { string} -
    col_md_up_offset: { string} -
    gutters: { boolean } -
    content: { string} - %}

{% endcomment %}

{% comment %} Defaults {% endcomment %}
{% if content != blank %}
  {% assign content = content %}
{% else %}
  {% assign content = false %}
{% endif %}

{% if col != blank %}
  {% assign col = col %}
{% else%}
  {% assign col = 12 %}
{% endif %}

{% if col_md_up != blank %}
  {% assign col_md_up = col_md_up %}
{% else %}
  {% assign col_md_up = 4 %}
{% endif %}

{% comment %} Block Layout Classes {% endcomment %}
{% assign grid_item_classes = settings.ec_prefix
  | append: 'col-'
  | append: col %}
{% assign grid_item_classes =  grid_item_classes
  | append: ' '
  | append: settings.ec_prefix
  | append: 'offset-'
  | append: col_offset %}
{% assign grid_item_classes =  grid_item_classes
  | append: ' '
  | append: settings.ec_prefix
  | append: 'col-md-'
  | append: col_md_up %}
{% assign grid_item_classes =  grid_item_classes
  | append: ' '
  | append: settings.ec_prefix
  | append: 'offset-md-'
  | append: col_md_up_offset %}

{% comment %} Add margin bottom for gutter-enabled grids {% endcomment %}
{% if gutters %}
  {% assign grid_item_classes =  grid_item_classes
    | append: ' '
    | append: settings.ec_prefix
    | append: 'mb-4' %}
{% endif %}

{% if content %}
  <div class="{{  grid_item_classes }}">
    {{ content }}
  </div>
{% endif %}

