{% comment %}
  
  ------------------------------------------------------------------------------
  Content Wrapper

  Copyright 2021 Lightly Digital - support@lightly.digital
  ------------------------------------------------------------------------------

  - Sets a background image
  - Sets a background color
  - Aligns and justifies an object
  - Renders content in a wrapper
  - Typically used as the first child in a layout column

  Usage:

  {% render 'lightly-content-wrapper'
    id: { string } - required for background image/color
    content: { string } - required
    bg_image_url: { string } - optional
    bg_image_url_md_up: { string } - optional
    bg_color: { string } - optional
    bg_color_alpha: { string } - optional
    pt : { string } - optional
    pr: { string } - optional - expects numerical value from 0-5
    pb: { string } - optional
    pl: { string } - optional
    mt: { string } - optional
    mr: { string } - optional
    mb: { string } - optional
    ml: { string } - optional
    pt_md_up: { string } - optional
    pr_md_up: { string } - optional
    pb_md_up: { string } - optional
    pl_md_up: { string } - optional
    mt_md_up: { string } - optional
    mr_md_up: { string } - optional
    mb_md_up: { string } - optional
    ml_md_up: { string } - optional
    border_top: { string } - optional
    border_right: { string } - optional
    border_bottom: { string } - optional
    border_left: { string } - optional
    border_color: { string } - optional
  %}

{% endcomment %}

{% comment %} Defaults {% endcomment %}
{% if id != blank %}
  {% assign content_id = 'content-wrapper-'
    | append:  id %}
{% else %}
  {% assign content_id = false %}
{% endif %}

{% if border_top != blank or border_top != 'none' %}
  {% assign border_top = border_top %}
{% else %}
    {% assign border_top = false %}
{% endif %}

{% if border_left != blank or border_left != 'none' %}
  {% assign border_left = border_left %}
{% else %}
    {% assign border_left = false %}
{% endif %}

{% if border_bottom != blank or border_bottom != 'none' %}
  {% assign border_bottom = border_bottom %}
{% else %}
    {% assign border_bottom = false %}
{% endif %}

{% if border_right != blank or border_right != 'none' %}
  {% assign border_right = border_right %}
{% else %}
    {% assign border_right = false %}
{% endif %}

{% if border_top
  or border_bottom
  or border_left
  or border_right  %}
  {% assign border_color = 'border-' | append: border_color %}
{% else %}
  {% assign border_color = false %}
{% endif %}
{% comment %} Todo - move border- from schema to here {% endcomment %}

{% if pt != blank %}
  {% assign pt = pt %}
{% else %}
  {% assign pt = 0 %}
{% endif %}

{% if pr != blank %}
  {% assign pr = pr %}
{% else %}
  {% assign pr = 0 %}
{% endif %}

{% if pb != blank %}
  {% assign pb = pb %}
{% else %}
  {% assign pb = 0 %}
{% endif %}

{% if pl != blank %}
  {% assign pl = pl %}
{% else %}
  {% assign pl = 0 %}
{% endif %}

{% if mt != blank %}
  {% assign mt = mt %}
{% else %}
  {% assign mt = 0 %}
{% endif %}

{% if mr != blank %}
  {% assign mr = mr %}
{% else %}
  {% assign mr = 0 %}
{% endif %}

{% if mb != blank %}
  {% assign mb = mb %}
{% else %}
  {% assign mb = 0 %}
{% endif %}

{% if ml != blank %}
  {% assign ml = ml %}
{% else %}
  {% assign ml = 0 %}
{% endif %}

{% if pt_md_up != blank %}
  {% assign pt_md_up = pt_md_up %}
{% else %}
  {% assign pt_md_up = 0 %}
{% endif %}

{% if pr_md_up != blank %}
  {% assign pr_md_up = pr_md_up %}
{% else %}
  {% assign pr_md_up = 0 %}
{% endif %}

{% if pb_md_up != blank %}
  {% assign pb_md_up = pb_md_up %}
{% else %}
  {% assign pb_md_up = 0 %}
{% endif %}

{% if pl_md_up != blank %}
  {% assign pl_md_up = pl_md_up %}
{% else %}
  {% assign pl_md_up = 0 %}
{% endif %}

{% if mt_md_up != blank %}
  {% assign mt_md_up = mt_md_up %}
{% else %}
  {% assign mt_md_up = 0 %}
{% endif %}

{% if mr_md_up != blank %}
  {% assign mr_md_up = mr_md_up %}
{% else %}
  {% assign mr_md_up = 0 %}
{% endif %}

{% if mb_md_up != blank %}
  {% assign mb_md_up = mb_md_up %}
{% else %}
  {% assign mb_md_up = 0 %}
{% endif %}

{% if ml_md_up != blank %}
  {% assign ml_md_up = ml_md_up %}
{% else %}
  {% assign ml_md_up = 0 %}
{% endif %}

{% comment %} Object Classes {% endcomment %}
{% assign el_classes = settings.lightly_prefix | append: 'w-100' %}

{% if pt != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pt-'
    | append: pt %}
{% endif %}

{% if pr != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pr-'
    | append: pr %}
{% endif %}

{% if pb != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pb-'
    | append: pb %}
{% endif %}

{% if pl != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pl-'
    | append: pl %}
{% endif %}

{% if mt != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mt-'
    | append: mt %}
{% endif %}

{% if mr != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mr-'
    | append: mr %}
{% endif %}

{% if mb != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mb-'
    | append: mb %}
{% endif %}

{% if ml != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'ml-'
    | append: ml %}
{% endif %}

{% if pt_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pt-md-'
    | append: pt_md_up %}
{% endif %}

{% if pr_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pr-md-'
    | append: pr_md_up %}
{% endif %}

{% if pb_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pb-md-'
    | append: pb_md_up %}
{% endif %}

{% if pl_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pl-md-'
    | append: pl_md_up %}
{% endif %}

{% if mt_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mt-md-'
    | append: mt_md_up %}
{% endif %}

{% if mr_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mr-md-'
    | append: mr_md_up %}
{% endif %}

{% if mb_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mb-md-'
    | append: mb_md_up %}
{% endif %}

{% if ml_md_up != 0 %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'ml-md-'
    | append: ml_md_up %}
{% endif %}

{% if border_color %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: border_color %}
{% endif %}

{% if border_top %}
  {% assign el_classes = el_classes | append: ' border-top' %}
{% endif %}

{% if border_right %}
  {% assign el_classes = el_classes | append: ' border-right' %}
{% endif %}

{% if border_bottom %}
  {% assign el_classes = el_classes | append: ' border-bottom' %}
{% endif %}

{% if border_left %}
  {% assign el_classes = el_classes | append: ' border-left' %}
{% endif %}

{% if border_bottom %}
  {% assign el_classes = el_classes
    | append: ' border-bottom '
    | append: border_bottom %}
{% endif %}

{% if border_left %}
  {% assign el_classes = el_classes | append: ' border-left' %}
{% endif %}

{% if content_id != blank %}
  {% assign el_classes = el_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'bg-content-wrapper'
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'bg-image-'
    | append: content_id %}

  {% capture bg_image_style_tag %}
    {% render 'lightly-bg-image-element'
      id: content_id,
      bg_image_url: bg_image_url,
      bg_image_url_md_up: bg_image_url_md_up,
      bg_color: bg_color,
      bg_color_alpha: bg_color_alpha %}
  {% endcapture %}
{% endif %}

{% if content != blank %}
  <div class="{{ el_classes }}">
    {{ bg_image_style_tag }}
    {{ content }}
  </div>
{% endif %}