{% comment %}

  ------------------------------------------------------------------------------
  Content Container
  More info: https://lightly-digital/docs/content-container

  Copyright 2021 Lightly Digital - support@lightly.digital
  ------------------------------------------------------------------------------
  
  id: { string } - Required for background image or color
  container: { string }
  row_no_gutters: { string }
  bg_color: { string } - optional
  bg_color_alpha: { string } - optional
  pt: { string } - optional
  pr: { string } - optional
  pb: { string } - optional
  pl: { string } - optional
  mt: { string } - optional
  mr: { string } - optional
  mb: { string } - optional
  ml: { string } - optional
  pt_md_up: { string } - optional
  pr_md_up: { string } - optional
  pb_md_up: { string } - optional
  pl_md_up: { string } - optional
  mt_md_up: { string } - optional
  mr_md_up: { string } - optional
  mb_md_up: { string } - optional
  ml_md_up: { string } - optional
{% endcomment %}

{% comment %} Defaults {% endcomment %}
{% assign row_classes = settings.lightly_prefix | append: 'row' %}

{% if pt != blank %}
  {% assign pt = pt %}
{% else %}
  {% assign pt = 0 %}
{% endif %}

{% if pr != blank %}
  {% assign pr = pr %}
{% else %}
  {% assign pr = 0 %}
{% endif %}

{% if pb != blank %}
  {% assign pb = pb %}
{% else %}
  {% assign pb = 0 %}
{% endif %}

{% if pl != blank %}
  {% assign pl = pl %}
{% else %}
  {% assign pl = 0 %}
{% endif %}

{% if mt != blank %}
  {% assign mt = mt %}
{% else %}
  {% assign mt = 0 %}
{% endif %}

{% if mr != blank %}
  {% assign mr = mr %}
{% else %}
  {% assign mr = 0 %}
{% endif %}

{% if mb != blank %}
  {% assign mb = mb %}
{% else %}
  {% assign mb = 0 %}
{% endif %}

{% if ml != blank %}
  {% assign ml = ml %}
{% else %}
  {% assign ml = 0 %}
{% endif %}

{% if pt_md_up != blank %}
  {% assign pt_md_up = pt_md_up %}
{% else %}
  {% assign pt_md_up = 0 %}
{% endif %}

{% if pr_md_up != blank %}
  {% assign pr_md_up = pr_md_up %}
{% else %}
  {% assign pr_md_up = 0 %}
{% endif %}

{% if pb_md_up != blank %}
  {% assign pb_md_up = pb_md_up %}
{% else %}
  {% assign pb_md_up = 0 %}
{% endif %}

{% if pl_md_up != blank %}
  {% assign pl_md_up = pl_md_up %}
{% else %}
  {% assign pl_md_up = 0 %}
{% endif %}

{% if mt_md_up != blank %}
  {% assign mt_md_up = mt_md_up %}
{% else %}
  {% assign mt_md_up = 0 %}
{% endif %}

{% if mr_md_up != blank %}
  {% assign mr_md_up = mr_md_up %}
{% else %}
  {% assign mr_md_up = 0 %}
{% endif %}

{% if mb_md_up != blank %}
  {% assign mb_md_up = mb_md_up %}
{% else %}
  {% assign mb_md_up = 0 %}
{% endif %}

{% if ml_md_up != blank %}
  {% assign ml_md_up = ml_md_up %}
{% else %}
  {% assign ml_md_up = 0 %}
{% endif %}

{% if row_no_gutters == 'no-gutters'%}
  {% assign row_classes = row_classes
  | append: ' '
  | append: settings.lightly_prefix
  | append: row_no_gutters %}
{% endif %}

{% if container != blank %}
{% assign container_classes = settings.lightly_prefix
  | append: container %}
{% else %}
  {% assign container_classes = settings.lightly_prefix
    | append: 'container' %}
{% endif %}

{% if pt != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pt-'
    | append: pt %}
{% endif %}

{% if pb != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pb-'
    | append: pb %}
{% endif %}

{% if pt_md_up != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pt-md-'
    | append: pt_md_up %}
{% endif %}

{% if pb_md_up != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'pb-md-'
    | append: pb_md_up %}
{% endif %}

{% if mt != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mt-'
    | append: mt %}
{% endif %}

{% if mb != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mb-'
    | append: mb %}
{% endif %}

{% if mt_md_up != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mt-md-'
    | append: mt_md_up %}
{% endif %}

{% if mb_md_up != 0 %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'mb-md-'
    | append: mb_md_up %}
{% endif %}

{% if id != blank %}
  {% assign container_classes = container_classes
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'bg-content-wrapper'
    | append: ' '
    | append: settings.lightly_prefix
    | append: 'bg-image-'
    | append: id %}

  {% capture bg_image_style_tag %}
    {% render 'lightly-bg-image-element'
      id: id,
      bg_image_url: bg_image_url,
      bg_image_url_md_up: bg_image_url_md_up,
      bg_color: bg_color,
      bg_color_alpha: bg_color_alpha %}
  {% endcapture %}
{% endif %}

<div class="{{ container_classes }}">
  {{ bg_image_style_tag }}
  <div class="{{ row_classes }}">
    {{ content }}
  </div>
</div>