{% comment %} 

  -----------------------------------------------------------------------------
  Paragraph Text
  -----------------------------------------------------------------------------

  Usage:

  {% render 'display-text',
              text: { string } - expects richtext
              text_color: { string } expects text-color class
              text_alignment: { string } 'text-center', 'text-left'
  %}

{% endcomment %}

{% comment %} Class defaults {% endcomment %}
{% assign classes = blank %}

{% if text_color != blank %}
  {% assign classes = classes | append: text_color %}
{% else %}
  {% assign classes = classes | append: 'text-primary' %}
{% endif %}

{% if text_alignment != blank %}
  {% assign classes = classes | append: ' ' | append: text_alignment %}
{% else %}
  {% assign classes = classes | append: ' ' | append: 'text-left' %}
{% endif %}

{% comment %} HTML content {% endcomment %}
{% capture 'html_content' %}
  {% if text != blank %}
    <div class="{{ classes }}">{{ text }}</div> 
  {% endif %}
{% endcapture %}

{% comment %} Render {% endcomment %}
{% if html_content != blank %}
  {{ html_content }}
{% endif %}