{% comment %}

  -----------------------------------------------------------------------------
  Product Title
  -----------------------------------------------------------------------------

{% endcomment %}

<h1>{{ product.title }}</h1>