{% comment %}

  -----------------------------------------------------------------------------
  Header Section
  -----------------------------------------------------------------------------

{% endcomment %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top border-bottom">
  <a class="navbar-brand" href="/">King Cards</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products/king">King</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/bicycle-8-gram-clay-poker-chip-set">Chips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/collections/1885">1885 Collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/checkout">Checkout</a>
      </li>
    </ul>
  </div>
</nav>
