<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/collections/burgers">Burgers</a></li>
  <li><a href="/collections/burgers/products/bacon-ultimate-cheeseburger™">Bacon Ultimate cheeseburger™</a></li>
</ul>